<form class="{{moduleName}}-form">
    <h3><label for="{{moduleName}}-form-crtFailMessages">Critical fail messages:</label></h3>
    <textarea class="{{moduleName}}-form-crtFailMessages" name="fail" id="{{moduleName}}-form-crtFailMessages" cols="100" rows="10">{{lists.fail}}</textarea>

    <h3><label for="{{moduleName}}-form-crtSuccessMessages">Critical success messages:</label></h3>
    <textarea class="{{moduleName}}-form-crtSuccessMessages" name="success" id="{{moduleName}}-form-crtSuccessMessages" cols="100" rows="10">{{lists.success}}</textarea>

    <h3><label for="{{moduleName}}-form-portraits-success">Success portrait links:</label></h3>
    <textarea class="{{moduleName}}-form-portraits-success" name="portraits" id="{{moduleName}}-form-portraits-success" cols="100" rows="10">{{lists.portraits}}</textarea>

    <h3><label for="{{moduleName}}-form-portraits-fail">Fail portrait links:</label></h3>
    <textarea class="{{moduleName}}-form-portraits-fail" name="fail_portraits" id="{{moduleName}}-form-portraits-fail" cols="100" rows="10">{{lists.fail_portraits}}</textarea>

    <button type="submit" name="submit">Save</button>
</form>