<form class="{{moduleName}}-form">
    <h3><label for="{{moduleName}}-form-crtFailMessages">Critical fail messages:</label></h3>
    <textarea class="{{moduleName}}-form-crtFailMessages" name="fail" id="{{moduleName}}-form-crtFailMessages" cols="100" rows="10">{{lists.fail}}</textarea>

    <h3><label for="{{moduleName}}-form-crtSuccessMessages">Critical success messages:</label></h3>
    <textarea class="{{moduleName}}-form-crtSuccessMessages" name="success" id="{{moduleName}}-form-crtSuccessMessages" cols="100" rows="10">{{lists.success}}</textarea>

    <h3><label for="{{moduleName}}-form-portraits">Portrait links:</label></h3>
    <textarea class="{{moduleName}}-form-portraits" name="portraits" id="{{moduleName}}-form-portraits" cols="100" rows="10">{{lists.portraits}}</textarea>

    <button type="submit" name="submit">Save</button>
</form>