.#{$module-name}-chat-message,
.#{$module-name}-chat-stats {
  &-header {
    display: flex;
    align-items: center;

    &__portrait {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
      margin-right: 10px;

      &.no-border {
        border: none;
      }
    }
  }
  .sc-histogram {
    display: flex;
    height: 80px;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-top: 13px;
    //width: -moz-fit-content;
    //width: fit-content;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
    
    .bar {
      background: #955c8b;
      position: relative;
      border-bottom: 1px solid black;
      flex-grow: 1;
      
      .sc-bar-value, .sc-bar-index {
        text-align: center;
        white-space: nowrap;
        font-size: 10px;
      }
      .sc-bar-value {
        position: relative;
        top: -13px;
      }
      .sc-bar-index {
        position: absolute;
        bottom: -20px;
      }
      
    }
    
    .bar[data-value="0"] .sc-bar-value {
      visibility: hidden;
    }
  }
  
}

.#{$module-name}-chat-stats {
  &-body {
    &__rolls {
      list-style: none;
      margin: 5px 0;
      padding: 0;
      overflow: hidden;
      display: flex;

      &-roll {
        font-size: 16px;
        color: #000;
        font-weight: bold;
        text-align: center;
        line-height: 24px;
        margin-right: 1px;
        width: 50%;

        &-dice {
          background-image: url("../../icons/svg/d20-grey.svg");
          background-size: 24px 24px;
          background-repeat: no-repeat;
          width: 24px;

          margin-right: 5px;
          display: inline-block;
          &.min {
            color: #aa0200;
            filter: sepia(0.5) hue-rotate(-60deg);
          }
          &.max {
            color: #18520b;
            filter: sepia(0.5) hue-rotate(60deg);
          }
          &.avg {
            & span {
              margin-left: -2px;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}